

<ul class="nav " appScroll>
  <li class="item">  
      <a routerLink="acceuil"   routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/logo-s8ir.png" width="120" heignt="30"/>
  </a></li>

  

  <li class="item"><a routerLink="acceuil"routerLinkActive="active" ariaCurrentWhenActive="page" class="link">Acceuil</a></li>
  <li class="item"><a routerLink="apropos"routerLinkActive="active" ariaCurrentWhenActive="page" class="link">A propos</a></li>
  <li class="item dropdown">
    
<a routerLink="nosservices" routerLinkActive="active" ariaCurrentWhenActive="page" class="link dropdown">
<button class="dropdown-toggle btn btn-warning" type="dropdown-toggle"  aria-expanded="true">  nos services  </button>


    </a> </li>


  <li class="item"><a routerLink="localisation"  routerLinkActive="active" ariaCurrentWhenActive="page" class="link">Localisation</a></li>
  <li class="item"><a routerLink="pro" routerLinkActive="active" ariaCurrentWhenActive="page" class="link">Professionnel</a></li>
  <li class="item"><a routerLink="besoin" routerLinkActive="active" ariaCurrentWhenActive="page"class="link"> Besoin d'aide ?</a></li>
  </ul>



 
