
*{position:static;}

#h1{font-size: 30px;
    color:#051E5B;
    padding:50px;
}

#card-ame{
font-size:"30px";
padding: 150px;
margin: 50px;
border-radius: 5px 5px 0 0 ;}




*{font-family: 'Montserrat', sans-serif}

