

<!-- part -->

    <div class="card-deck" id="card-ame">
      <!-- <div class="card-columns" id="card-ame"> -->


<!-- card1  -->

      <div class="card" style="width: 400px; "> 
        <img class="card-img-top" src="../../assets/commande.jpg" width="200px" height="200px"/>     
        <div class="card-body">
          <h4 class="card-title"><b>  1 . </b> je commande en ligne </h4>
              <p class="card-text">  depuis un site d'e-commerce partenaire avec pikpakbox  </p> 
       </div>
 </div>
 <!-- card2 -->
 <div class="card" style="width: 400px;"> 
  <img class="card-img-top" src="../../assets/visuel1.png" width="200px" height="200px"/>     
  <div class="card-body">
      <h4 class="card-title"><b>2 . </b>je choisis  une consigne  PIKPAK box </h4>
        <p class="card-text"> selectionner la consigne de proximité </p> 

 </div>

</div>


<div class="card" style="width: 400px;"> 
  <img class="card-img-top" src="../../assets/code recu.png" width="200px" height="200px"/>     
  <div class="card-body">
    <h4 class="card-title"><b>3 . </b>Je reçois mon code  de retrait </h4>
        <p class="card-text">  par sms ou par e-mail </p> 

 </div>

</div> 
<!-- card4  -->
<div class="card .border .rounded-pill" style="width: 400px;"> 
  <img class="card-img-top" src="../../assets/retire.jpg" width="200px" height="200px"/>     
  <div class="card-body">
    <h4 class="card-title"><b>4 . </b> Je retire mon colis </h4>      
      <p class="card-text"> Saisir les codes récus , le casier s'ouvre</p> 

 </div>

</div>
</div>
    
 <!-- fin card 1 -->
  
   