<span id="ko"> </span>


<div class="katkout"></div>
<div class="container">
<div class="row ">
 <div class="col title"> 
  <p>Vous pouvez utiliser votre réseau <br>
    <span id="pseudo"> <strong> de consignes  </strong></span>pour réceptionner <br>
    vos colis commandés en lignes <br> ou envoyés par un particulier
 depuis 
 
 <strong>
 un bureau de poste </strong>  <br>ou
 <strong>
 une agence postale specialisée</strong>
     </p>
 </div>


<div class="col img" >
<img id="ko" src="../../assets/Mesa.png" width="650px" height="400px"/>     


</div>
</div>

</div>